<%- include("header.ejs") %>
<div class="d-flex flex-row justify-content-center">
  <%- include("nav.ejs") %>
  <div class="w-50 p-0 main">
    <div class="d-flex flex-row twitter-tweet">
      <h3>Home</h3>
    </div>
    <form class="" action="/tweet" method="post">
      <div class="d-flex flex-row twitter-tweet">
        <div class="p-2">
          <img  class="rounded-circle" src="https://pbs.twimg.com/profile_images/777300939745013761/kGYRVUeo_bigger.jpg" height="49" width="49">
        </div>
        <div class="p-2 flex-fill">
          <div class="tweetBox">
            <input type="text" placeholder="What's Happening" name="tweet" value="" autocomplete="off" autocomplete="off">
          </div>
          <div class="input-tweet-row">
            <div class="input-tweet-group">
              <button type="button" name="button" class="input-tweet-icon"><i class="far fa-file-image"></i></button>
            </div>
            <div class="input-tweet-group">
              <button type="button" name="button" class="input-tweet-icon"><i class="fas fa-gift"></i></button>
            </div>
            <div class="input-tweet-group">
              <button type="button" name="button" class="input-tweet-icon"><i class="fas fa-poll-h"></i></button>
            </div>
            <div class="input-tweet-group">
              <button type="button" name="button" class="input-tweet-icon"><i class="far fa-smile"></i></button>
            </div>

            <button type="submit" name="button" class="input-tweet-btn ml-auto">Tweet</button>
          </div>
        </div>
      </div>
    </form>
    <div class="d-flex flex-fill tweet-block">
    </div>
      <% foundTweet.forEach(function(tweet){ %>
      <div class="d-flex tweet-box">
        <div class="p-2"><img  class="rounded-circle" src="https://pbs.twimg.com/profile_images/777300939745013761/kGYRVUeo_bigger.jpg" height="49" width="49"></div>
        <div class="p-2 flex-fill">
          <div class="d-flex ">
            <span class="tweet-name"><%= tweet.name %></span>
            <span class="tweet-tag">@<%= tweet.username %> · <%= moment(tweet.timestamp).fromNow(); %> </span>
          </div>
          <div class="d-flex ">
              <span class="tweet-content"><%= tweet.content %></span>
          </div>
          <div class="d-flex ">
            <div class="p-2 flex-fill">
              <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="far fa-comment"></i></button>
            </div>
            <div class="p-2 flex-fill">
              <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="fas fa-retweet"></i></button>
            </div>
            <div class="p-2 flex-fill">
              <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="fas fa-heart"></i></button>
            </div>
            <div class="p-2 flex-fill">
                <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="fas fa-external-link-alt"></i></button>
            </div>
            <!-- <div class="p-2 flex-fill">
                <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="fas fa-poll"></i></i></button>
            </div> -->
          </div>
        </div>
      </div>
      <% }); %>
  </div>

  <%- include("sidebar.ejs") %>
</div>
<%- include("footer.ejs") %>
