<%- include("header.ejs") %>
<div class="d-flex flex-row justify-content-center">
  <%- include("nav.ejs") %>
  <div class="w-50 p-0 main">
    <div class="d-flex flex-row twitter-tweet">
      <div class="d-flex profile-title-group">
        <div class="p-2 profile-back-arrow">
          <a href="" onclick="window.history.back()"
            ><i class="fas fa-arrow-left"></i
          ></a>
        </div>
        <div class="p-0">
          <div class="d-flex flex-column profile-title">
            <div class="p-0 profile-title-name ">
              <%= foundUser.profile.name %>
            </div>
            <div class="p-0 profile-title-tweet-count">
              <%= foundUser.tweets %> Tweets
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-0 flex-fill profile-container">
        <div class="">
          <a class="profile-bg profile-block">
            <img
              class=""
              src="/uploads/<%= foundUser.profile.cover.filename %>"
              alt=""
            />
          </a>
          <div class="d-flex">
            <a title="" href="" class="">
              <img
                class="profile-avatarImg rounded-circle"
                src="/uploads/<%= foundUser.profile.avatar.filename %>"
                alt=""
              />
            </a>
            <button
              type="submit"
              name="button"
              class="profile-edit-btn ml-auto"
              data-toggle="modal"
              data-target="#modalLoginForm"
            >
              Edit Profile
            </button>
          </div>
        </div>
        <div class="profile-divUser ">
          <div class="profile-divName">
            <span href=""><%= foundUser.profile.name %></span>
          </div>
          <div class="profile-divTag">
            <span>
              @<%= foundUser.username %>
            </span>
          </div>
          <div class="profile-bio profile-info">
            <span>
              <%= foundUser.profile.bio %>
            </span>
          </div>
          <div class="d-flex flex-row profile-info">
            <div class="profile-stat">
              <i class="fas fa-map-marker-alt"></i> <%=
              foundUser.profile.location %>
            </div>
            <div class="profile-stat">
              <i class="fas fa-link"></i>
              <a href="<%= foundUser.profile.website  %>"
                ><%= foundUser.profile.website %></a
              >
            </div>
            <div class="profile-stat">
              <i class="far fa-calendar-alt"></i> Joined <%= regDate %>
            </div>
          </div>
          <div class="d-flex flex-row profile-info">
            <div class="profile-stat">
              <strong><%= foundUser.following %></strong> Following
            </div>
            <div class="profile-stat">
              <strong><%= foundUser.followers %></strong> Follwers
            </div>
          </div>
        </div>

        <div class="d-flex flex-row" class="tweet-nav" id="tweet-nav-container">
          <button
            id="tweets"
            class="btn p-2 flex-fill tweet-nav-item tweet-nav-item-active"
          >
            Tweets
          </button>
          <button id="tweetsnreplies" class="btn p-2 flex-fill tweet-nav-item">
            Tweets & replies
          </button>
          <button id="media" class="btn p-2 flex-fill tweet-nav-item">
            Media
          </button>
          <button class="btn p-2 flex-fill tweet-nav-item">
            Likes
          </button>
        </div>
      </div>
    </div>
    <% foundTweet.forEach(function(tweet){ %>
    <div class="d-flex tweet-box">
      <div class="p-2">
        <img
          class="rounded-circle"
          src="/uploads/<%= foundUser.profile.avatar.filename %>"
          height="49"
          width="49"
        />
      </div>
      <div class="p-2 flex-fill">
        <div class="d-flex ">
          <span class="tweet-name"><%= tweet.name %></span>
          <span class="tweet-tag"
            >@<%= tweet.username %> · <%= moment(tweet.timestamp).fromNow(); %>
          </span>
        </div>
        <div class="d-flex ">
          <span class="tweet-content"><%= tweet.content %></span>
        </div>
        <% if(tweet.img.data) {%>
        <div class="d-flex ">
          <span class="tweet-content tweet-content-img">
            <img src="/uploads/<%= tweet.img.filename %>" alt="" />
          </span>
        </div>
        <% } %>
        <div class="d-flex ">
          <div class="p-2 flex-fill">
            <button
              type="button"
              name="button"
              class="flex-fill tweet-content-icon"
            >
              <i class="far fa-comment"></i>
            </button>
          </div>
          <div class="p-2 flex-fill">
            <button
              type="button"
              name="button"
              class="flex-fill tweet-content-icon"
            >
              <i class="fas fa-retweet"></i>
            </button>
          </div>
          <div class="p-2 flex-fill">
            <button
              type="button"
              name="button"
              class="flex-fill tweet-content-icon"
            >
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <div class="p-2 flex-fill">
            <button
              type="button"
              name="button"
              class="flex-fill tweet-content-icon"
            >
              <i class="fas fa-external-link-alt"></i>
            </button>
          </div>
          <!-- <div class="p-2 flex-fill">
                <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="fas fa-poll"></i></i></button>
            </div> -->
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <div
    class="modal fade"
    id="modalLoginForm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="signup" action="/editprofile" method="post">
          <div class="modal-header edit-profile-header ">
            <div class="">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="">
              <h4 class="modal-title w-100 font-weight-bold">Edit profile</h4>
            </div>
            <div class="">
              <button
                class="login-btn-signup"
                data-toggle="modal"
                data-target="#modalLoginForm"
                type="submit"
                name="button"
                onclick="document.getElementById('signup').submit();"
              >
                Save
              </button>
            </div>
          </div>
          <div class="modal-body mx-5">
            <div class="md-form mb-5">
              <div class="signup-modal input-box profile-edit-upload">
                <img id="img-cover-preview" class="" />
                <label for="file-cover-upload" class="input-tweet-icon">
                  <i class="far fa-file-image">aa</i>
                </label>
                <input
                  type="file"
                  id="file-cover-upload"
                  name="upload-cover-img"
                  accept="image/*"
                />
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box profile-edit-upload">
                <img id="img-preview" class="" />
                <label for="file-profile-upload" class="input-tweet-icon">
                  <i class="far fa-file-image"></i>
                </label>
                <input
                  type="file"
                  id="file-profile-upload"
                  name="upload-profile-img"
                  accept="image/*"
                />
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for=""
                  >Name
                  <input
                    type="text"
                    name="name"
                    value="<%= foundUser.profile.name %>"
                    data-lpignore="true"
                    required
                  />
                </label>
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for=""
                  >Bio
                  <input
                    type="textarea"
                    name="bio"
                    value="<%= foundUser.profile.bio %>"
                    data-lpignore="true"
                    required
                  />
                </label>
              </div>
            </div>

            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for=""
                  >Location
                  <input
                    type="text"
                    name="location"
                    value="<%= foundUser.profile.location %>"
                    data-lpignore="true"
                    required
                  />
                </label>
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for=""
                  >Website
                  <input
                    type="text"
                    name="website"
                    value="<%= foundUser.profile.website %>"
                    data-lpignore="true"
                    required
                  />
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    // Get the container element
    var btnContainer = document.getElementById("tweet-nav-container");
    // Get all buttons with class="btn" inside the container
    var btns = btnContainer.getElementsByClassName("btn");
    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("tweet-nav-item-active");
        current[0].className = current[0].className.replace(
          " tweet-nav-item-active",
          ""
        );
        this.className += " tweet-nav-item-active";
      });
    }

    function readURL(input, id) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $(id).attr("src", e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#upload-preview").change(function() {
      readURL(this, "#img-preview");
    });
    $("#upload-cover-preview").change(function() {
      readURL(this, "#img-cover-preview");
    });

    var file1 = $("#file-cover-upload")[0];
    var file2 = $("#file-profile-upload")[0];
    // The onchange event is used here, so when you select the file, it triggers the event upload.
    file1.onchange = function() {
      upload_file(file1);
    };
    file2.onchange = function() {
      upload_file(file2);
    };

    function upload_file(file) {
      // Create a FormDate
      var formData = new FormData();
      // Append file information to it
      formData.append("upload-img", file.files[0]);
      formData.append("source", file.name);
      // Use split to cut and get the format of the uploaded file
      console.dir(file);
      var src = file.files[0].name,
        format = src.split(".")[1];
      // Use if to determine whether the uploaded file format conforms
      if (format == "jpg" || format == "gif" || format == "png") {
        // Only when the above format is satisfied will the Ajax request be triggered
        $.ajax({
          url: "/upload/photo",
          type: "POST",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          success: function(data) {
            console.log(data);
            // After successful upload, return the object data
          }
          // When the upload format is not satisfied
        });
      } else {
        alert("file format does not support upload");
      }
    }
  </script>
  <%- include("sidebar.ejs") %>
</div>
<%- include("footer.ejs") %>
