<%- include("header.ejs") %>
<div class="d-flex flex-row justify-content-center">
  <%- include("nav.ejs") %>
  <div class="w-50 p-0 main">
    <div class="d-flex flex-row twitter-tweet">
      <div class="d-flex profile-title-group">
        <div class="p-2 profile-back-arrow">
          <a href="" onclick="window.history.back()"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="p-0">
          <div class="d-flex flex-column profile-title">
            <div class="p-0 profile-title-name ">
              Tweet
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex tweet-box">
      <div class="p-2">
        <img class="rounded-circle" src="data:<%= foundUser.profile.avatar.contentType %>;base64,<%= foundUser.profile.avatar.data %>" height="49" width="49">
      </div>
      <div class="p-2 flex-fill">
        <div class="d-flex ">
          <span class="tweet-name"><%= foundTweet.name %></span>
          <span class="tweet-tag">@<%= foundTweet.username %> · <%= moment(foundTweet.timestamp).fromNow(); %> </span>
        </div>
        <div class="d-flex ">
          <span class="tweet-content"><%= foundTweet.content %></span>
        </div>
        <% if(foundTweet.img.data) {%>
        <div class="d-flex ">
          <span class="tweet-content tweet-content-img">
            <img src="data:<%= foundTweet.img.contentType %>;base64,<%= foundTweet.img.data %>" alt="" />
          </span>
        </div>
        <% } %>
        <div class="d-flex ">
          <div class="p-2 flex-fill">
            <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="far fa-comment"></i></button>
          </div>
          <div class="p-2 flex-fill">
            <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="fas fa-retweet"></i></button>
          </div>
          <div class="p-2 flex-fill">
            <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="fas fa-heart"></i></button>
          </div>
          <div class="p-2 flex-fill">
            <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="fas fa-external-link-alt"></i></button>
          </div>
          <!-- <div class="p-2 flex-fill">
                <button type="button" name="button" class="flex-fill tweet-content-icon"><i class="fas fa-poll"></i></i></button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  <%- include("sidebar.ejs") %>
</div>
<%- include("footer.ejs") %>
